body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
}

.jumbotron {
    background-color: #f8f9fa;
    padding: 2rem;
    border-radius: .3rem;
    margin-bottom: 2rem;
}

.navbar {
    margin-bottom: 2rem;
}

.nav-link {
    color: rgba(255,255,255,.75);
}

.nav-link:hover {
    color: rgba(255,255,255,1);
}
